.card {
    position: absolute;
    overflow: hidden;
}

#map_canvas { 
	top: 50px;
	bottom: 0;
	right: 470px;
	left: 0;
}

#sidebar{
	top: 50px;
	right: 0;
	width: 450px;
	bottom: 0;
	overflow: auto;
}

#topbar{
	top: 0;
	right: 0;
	left: 0;
	height: 50px;
}

#jsoncontent{
	font-size: 10px;
	display: none;
}


.highlighted{
	color:red;
}


.hide{
	display: none;
}

