footer {
	position: absolute;
	bottom: 0px;
	width: 100%;
}

.card {
    position: absolute;
    overflow: hidden;
    padding: 10px;
}

#map_canvas { 
	top: 50px;
	bottom: 60px;
	right: 470px;
	left: 0;
	margin: 10px;
}

#sidebar{
	top: 50px;
	right: 0;
	width: 450px;
	bottom: 60px;
	overflow: auto;
}

#topbar{
	top: 0;
	right: 0;
	left: 0;
	height: 50px;
}

#jsoncontent{
	font-size: 10px;
	display: none;
}


.highlighted{
	color:red;
}


.hide{
	display: none;
}

.markerlist{
	background-color: #3366CC;
}

.markerlist a{
	color: white;
}

.foreignmarkerlist{
	background-color: #339933;
}

.foreignmarkerlist a{
	color: white;
}

.glyphicon {
	font-family: 'Glyphicons Halflings' !important;
}

.popover-title {
	text-align: right;	
}

#pano {
	position: absolute;
	width: 370px;
	height: 270px;
	bottom: 70px;
	right: 480px;
}
