{% load staticfiles %}
{% load url from future %}
<!DOCTYPE HTML>
<html dir="rtl">
	<head>
		<title>Placemarkr</title>
	    <!-- Bootstrap core CSS -->
	    <link href="{% static 'dist/css/bootstrap.css' %}" rel="stylesheet">
	    <script src="{% static "jquery-1.10.2.js" %}"></script>
	</head>
	<body>
		<!-- Static navbar -->
    <div class="navbar navbar-default navbar-static-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
          	{% if not user.is_authenticated %}
          	<form class="navbar-form navbar-left" name="LoginForm" action="/login/" method="post">
          		{% csrf_token %}
		      <div class="form-group">
		        <input type="text" id="username" name="username" class="form-control" placeholder="שם משתמש">
		      </div>
		      <div class="form-group">
		        <input type="password" id="password" name="password" class="form-control" placeholder="סיסמה">
		      </div>
		      <button type="submit" class="btn btn-success">כניסה</button>
		      <a class="button secondaryAction" href="{% url 'account_reset_password' %}">שכחת סיסמה?</a>
		    </form>

          	{% else %}
          	<li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown"><span class="glyphicon glyphicon-user"> </span> {{user}} <b class="caret"> </b></a>
              <ul class="dropdown-menu">
                <li><a href="#"><span class="glyphicon glyphicon-cog"> </span> הגדרות</a></li>
                <li class="divider"></li>
                <li><a href="{% url 'logout_user' %}"><span class="glyphicon glyphicon-off"> </span> התנתק</a></li>
              </ul>
            </li>
            {% endif %}
          </ul>
          <ul class="nav navbar-nav navbar-right">
          	{% if user.is_authenticated %}
          	<li>
		    	<form class="navbar-form navbar-left" role="search">
			      <div class="form-group">
			        <input type="text" class="form-control input-sm" style="width:200px;" placeholder="חפש אנשים, מקומות או מאגרי מידע">
			      </div>
			      <button type="submit" class="btn btn-default input-sm"><span class="glyphicon glyphicon-search"> </span></button>
		    	</form>
          	</li>
          	{% endif %}
          	<li><a href="#">שאלות/תשובות</a></li>
            <li><a href="#">משתמשים מובילים</a></li>
            {% if user.is_authenticated %}
            <li><a href="{% url 'userHomepage' user.username %}">דף הבית</a></li>
            <li><a class="navbar-brand" href="{% url 'userHomepage' user.username %}">Placemarkr <span class="glyphicon glyphicon-map-marker"> </span></a></li>
            {% else %}
            <li><a href="{% url 'home' %}">דף הבית</a></li>
            <li><a class="navbar-brand" href="{% url 'home' %}">Placemarkr <span class="glyphicon glyphicon-map-marker"> </span></a></li>
            {% endif %}
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>
		{% block content %}
		:)
		{% endblock %}
	    
      <footer>
        <hr>
        <p>&nbsp;&copy; 2013 אתר זה נבנה במסגרת <a href="http://hackita.hasadna.org.il/">הכיתה</a> עבור <a href="http://www.hasadna.org.il/">הסדנא לידע ציבורי</a></p>
      </footer>
      
	</body>
</html>