{% extends "base.html" %}
{% block content %}
{% load staticfiles %}
<script src="{% static "jquery-1.10.2.js" %}"></script>
<link href="{% static "dist/css/bootstrap.min.css" %}" rel="stylesheet" media="screen">

<div class="list-group" style="margin:30px;">
	{% for p in places %}
	<a href="{% url 'place' p.id%}" class="list-group-item">  	
		<div>{{p.vendor_id}}   			
   				<div class="text-left"><span class="badge">{{p.placemarks.count}}</span></div>
   		</div>
 	</a>
 	{% endfor %}
</div>

<script src="{% static "dist/js/bootstrap.min.js" %}"></script> -->
{% endblock %}

