{% extends "base.html" %}
{% block content %}
{% load staticfiles %}
<script src="{% static "jquery-1.10.2.js" %}"></script>
<link href="{% static "dist/css/bootstrap.min.css" %}" rel="stylesheet" media="screen">

<ul class="list-group">
	{% for p in places %}
	<li class="list-group-item">  		
   			<a href="{% url 'place' p.id%}">{{p.vendor_id}}</a>
   			<span class="badge">{{p.placemarks.count}}</span>
 	</li>
 	{% endfor %}
</ul>

<script src="{% static "dist/js/bootstrap.min.js" %}"></script> -->
{% endblock %}

