{% extends "base.html" %}
{% block content %}
{% load account %}
{% load url from future %}
{% load staticfiles %}
{% include "socialaccount/snippets/login_extra.html" %}
<script src="{% static "jquery-1.10.2.js" %}"></script>
<link href="{% static "dist/css/bootstrap.min.css" %}" rel="stylesheet" media="screen">
<div class="container">

      <!-- Main component for a primary marketing message or call to action -->
      <div class="jumbotron">
        <h1>ברוכים הבאים</h1>
        <p>למערכת טיוב מידע גאוגרפי!</p>
        <p> עזרו לנו להנגיש את המידע לציבור</p>
        <p>
          <a class="btn btn-lg btn-primary" href="{% url 'register' %}">הרשם עכשיו &raquo;</a>
        </p>
        <p> או התחבר באמצעות: </p>
        <a href="/account/google/login/?process=login"><img src="{% static "images/g.png" %}"></a>
        <a href="javascript:allauth.facebook.login('', 'authenticate', 'login')"><img src="{% static "images/fb.png" %}"></a>

      </div>

<script src="{% static "dist/js/bootstrap.min.js" %}"></script>

    </div> <!-- /container -->
    

{% endblock %}
