{% extends "base.html" %}
{% block content %}
{% load staticfiles %}

<script src="{% static "jquery-1.10.2.js" %}"></script>
<script src="https://maps.googleapis.com/maps/api/js?sensor=true&libraries=visualization"></script>
<script src="{% static "mustache.js" %}"></script>
<script src="{% static "mapgenerator.js" %}"></script>
<link href="{% static "dist/css/bootstrap.min.css" %}" rel="stylesheet" media="screen">
<script>
	var places = [];
</script>
<div align="center">
<div class="panel panel-default">
  <!-- Default panel contents -->
  <div class="panel-heading">Point Map View</div>
<table width=100%>
	<tr>
		<td valign="top" align="right" width="200px">
			<h3>נקודת עניין מספר {{place.id}}</h3>
			<p id="jsontitle">Json content</p>
			<div id="jsoncontent" >{{place.data}}</div>
			<ul class="nav nav-pills nav-stacked">
				{% for mark in place.placemarks.iterator %}
				<script>places.push([{{mark.lng}},{{mark.lat}},"{{mark.address}}","{{mark.city}}"]);</script>
				<li id=place_{{forloop.counter}}><a href="#">{{forloop.counter}}. {{mark.city}}, {{mark.address}}</a></li>
				{% endfor %}
			</ul>
		</td>
		<td width="30px"></td>
		<td valign="top" width="300px"><div id="map_canvas"></div></td>
	</tr>
</table>
</div>
<link href="{% static "map.css" %}" rel="stylesheet" type="text/css"/>
<script src="{% static "dist/js/bootstrap.min.js" %}"></script>
{% endblock %}

