{% extends "base.html" %}
{% block content %}
{% load staticfiles %}

<script src="{% static "jquery-1.10.2.js" %}"></script>
<script src="{% static "csrf.js" %}"></script>
<script src="https://maps.googleapis.com/maps/api/js?sensor=true&libraries=visualization"></script>
<script src="{% static "ICanHaz.min.js" %}"></script>
<script src="{% static "mustache.js" %}"></script>
<script src="{% static "mapgenerator.js" %}"></script>
<link href="{% static "dist/css/bootstrap.min.css" %}" rel="stylesheet" media="screen">
<script>
	Placemarkr.placemarks = {{placemarks|safe}};
	Placemarkr.id = {{id}};
</script>
<h3 id='title'></h3>

<div class="card" id="sidebar">
	<p id="jsontitle">
		Json content
	</p>
	<div id="jsoncontent" >
		<ul>
		{% for k, v in place.data_as_dict.items %}
		<li><b>{{k}}:</b> {{v}}</li>
		{% endfor %}
		</ul>
	</div>
	<ul class="list-group" id="mainlist"></ul>
	<div id="newaddress">
		מצא כתובת חדשה:
		<form class="form-inline" id="searchform">
			<div class="form-group">
				<input type="text" id="address" class="form-control" name="address" placeholder="כתובת"/>
			</div>
			<div class="form-group">
				<input type="text" id="city" class="form-control" name="city" placeholder="עיר"/>
			</div>
			<input type="submit" id="search" value="חפש" class="btn btn-default"/>
		</form>
	</div>
	<br>
	<ul class="list-group" id="foreignlist"></ul>

</div>

<div class="card" id="map_canvas"></div>

<link href="{% static "map.css" %}" rel="stylesheet" type="text/css"/>
<script src="{% static "dist/js/bootstrap.min.js" %}"></script>

{% verbatim %}
<script type="text/html" id="iw">
<div>
	<p>
		{{address}}, {{city}}
	</p>
	<button id='votefor' class='btn btn-default vote votefor' value='True'>
		נכון
	</button>
	<button id='voteagainst' class='btn btn-default vote voteagainst' value='False'>
		לא נכון
	</button>
	<div id='loading' class='hide'>
		Loading...
	</div>
</div>
</script>


<script type="text/html" id="fiw">
<div>
	<p>
		{{address}}, {{locality}}?
	</p>
	<button class='btn btn-default vote' value='True'>
		נכון
	</button>
	<button class='btn btn-default remove' value='False'>
		הסר
	</button><span id='loading' class='hide'>Loading...</span>
</div>
</script>

<script type="text/html" id="cfm">
	<li class="foreignplace list-group-item"><a href="#">{{forcount}}. {{address}}, {{locality}}</a></li>
</script>

{% endverbatim %}

{% endblock %}

